<div class="text-center">
<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
      <i class="fas fa-heart like-btn" ></i><span class="btn-count"><%= post.favorites.count %></span>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      <i class="fas fa-heart unlike-btn" ></i><span class="btn-count"><%= post.favorites.count %></span>
    <% end %>
  </p>
<% end %>
</div>