<div class="text-danger">
<% if user.errors.any? %>
   <span class="h4"><%= user.errors.count %>errors prohibited this obj from being saved:</span>
  <% user.errors.full_messages.each do |message| %><br>
     ・<%= message %>
  <% end %>
<% end %>
</div>