<h1>ユーザー一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: 'no_image.jpeg', size:'50x50' %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    <% end %>
  </table>
